# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment
env/
venv/
ENV/
.venv/
.env

# Editor settings
.vscode/
*.swp
*.swo

# OS files
.DS_Store

# Test/profiling output
.coverage
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/